@charset "UTF-8";

body {
    background-color: rgb(189, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 90dvw;
    max-height: 90dvw;
    margin: auto;
}

.photo {
    border: 3px solid #505050;
    border-radius: 50%;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

#title, .subTitle, .postTitle {
    color: rgb(95, 110, 160);
}

.postTitle {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: rgba(240, 248, 255, 0.411);
    padding: 15px;
    border: 3px solid burlywood;
    border-radius: 5px;
    margin-bottom: 15px;
}

.postContent {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.textoImagem {
    margin-bottom: 15px;
    width: 100%;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.contactsList {
    list-style-type: none;
    padding-left: 10px;
    text-decoration: none;
}

.contactsList li a {
    text-decoration: none;
}